@font-face {
    font-family: 'space_grotesklight';
    src: url('spacegrotesk-variablefont_wght-webfont.woff2') format('woff2'),
         url('spacegrotesk-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --white-color: #fdfefe;
}

html {
    height: 100vh;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    
}

.decorative-section a:link {
    color: #ff646f;
    text-decoration: none;
}

div.decorative-section {
    background-image: url("./photo.jpg");
    background-size: cover;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--white-color);
}

div.logo {
    display: flex;
    justify-content: center;

    margin-top: 20vh;
    padding: 1em;
    width: 100%;

    background-color: #00000063
}

div.logo h1 {
    font-family: 'space_grotesklight', Arial, Helvetica, sans-serif;
    font-size: 5em;


    align-self: center;
    text-align: center;
}

div.decorative-section p {
    margin-top: 515px;
}

div.account-section {
    
}

